@using Microsoft.AspNetCore.Identity
@model IdentityRole

@{
    ViewData["Title"] = "CrearRol";
}

<div class="shadow-lg br-15 shadow-mj m-4 p-2 ">
    <h1 class="text-center">Registrar Roles</h1>
    <hr />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8   m-1 p-4">
            <form method="post" asp-action="CrearRol">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group m-2 w-50">
                    <label asp-for="Name" class="control-label">Nombre del rol</label>
                    <input asp-for="Name" class="form-control border-radios" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a class="btn revocar-boton p-1 mx-2 " asp-action="ListaUserRegistrados">Volver</a> |
                    <button type="submit" value="Create" class="btn retornar-boton p-1 mx-2">Guardar</button>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
