@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid  Fondo " >
    <div class="row justify-content-center">
        @*<div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2 shadow-mj2 br-15 my-3 mr-lg-3">
            <a asp-action=" ">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu " src="~/Alumnos2.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu">Alumnos</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2 shadow-mj2 br-15 my-3 mr-lg-3">
            <a asp-action="ListaPublica" asp-controller="Personas">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu" src="~/Materias2.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu">Profesores (a)</h4>
                    </div>
                </div>
            </a>
              
        </div>
        <div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2 shadow-mj2 br-15 my-3 mr-lg-3">
            <a href="~/Identity/Account/Register">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu" src="~/Materias2.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu">Materias </h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2 shadow-mj2 br-15 my-3 mr-lg-3">
            <a asp-action=" ">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu" src="~/Asignar Materias.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu">Asignar Materias </h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2 shadow-mj2 br-15 my-3 mr-lg-3">
            <a asp-action=" ">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu" src="~/Registrar calificaciones.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu"> Calificaciones</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2 shadow-mj2 br-15 my-3 mr-lg-3">
            <a asp-action=" ">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu" src="~/Horarios1.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu">Horarios</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2 shadow-mj2 br-15 my-3 mr-lg-3">
            <a asp-action=" ">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu" src="~/Reportes.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu">Reportes </h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2 shadow-mj2 br-15 my-3 mr-lg-3">
            <a asp-action="MenuRegistros" asp-controller="Home">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu" src="~/Resgistrar1.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu">Registros </h4>
                    </div>
                </div>
            </a>
        </div>
        <h1>@DateTime.Now.ToString("f")</h1>*@
    </div>
</div>
