
@{
    ViewData["Title"] = "MenuRegistros";
}


<div class="container-fluid   ">
    <h2>Menu de Registros</h2>
    <hr />
    <div class="row justify-content-center">
        
        <div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2 shadow-mj2 br-15 my-3 mr-lg-3">
            <a asp-action="CrearPersona" asp-controller="Personas">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu" src="~/Agragar.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu">Registrar Profesor (a)</h4>
                    </div>
                </div>
            </a>

        </div>
        <div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2 shadow-mj2 br-15 my-3 mr-lg-3">
            
            <a asp-action="ListaPersonas" asp-controller="Personas">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu" src="~/Alumnos.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu">Registrar Estudiantes</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2 shadow-mj2 br-15 my-3 mr-lg-3">
            <a asp-action=" ">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu" src="~/Asignar Materias.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu">Registrar Materias</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2 shadow-mj2 br-15 my-3 mr-lg-3">
            <a asp-action="ListaRoles" asp-controller="Admin">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu " src="~/Roles.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu">Registrar Roles</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2 shadow-mj2  br-15 my-3 mr-lg-3">
            <a asp-action="ListaPersonas" asp-controller="Personas">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu" src="~/DocentesCompuestos.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu"> Ver Profesores</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2  shadow-mj2 br-15 my-3 mr-lg-3">
            <a asp-action=" ">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu" src="~/Alumnos2.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu">Ver Estudiantes</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2 shadow-mj2  br-15 my-3 mr-lg-3">
            <a asp-action=" ">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu" src="~/Categorias-removebg-preview.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu">Asignar Materias </h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-10 col-lg-3 col-md-3 col-sm-4 col-xl-2  br-15 my-3 mr-lg-3">
           @* <a asp-action="Index" asp-controller="Roles">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img class="img-menu" src="~/Resgistrar1.png" />
                    </div>
                    <div class="col-12 text-center">
                        <h4 class="btn btn-Menu">Registros </h4>
                    </div>
                </div>
            </a>*@
        </div>

    </div>
    <p class="my-5">
        <a class="btn btn-Menu" asp-action="Index" asp-controller="Home">Regresar</a>
    </p>
</div>
