@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Correo Confirmado";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

@*<a class="btn retornar-boton" href="/Identity/Account/_LoginLayout">volver </a>*@