@model Escuela_Sor_Maria.Models.tbMaterias

@{
    ViewData["Title"] = "ActualizarMateria";
}


<div class="container">
    <h3>Ingreso de Materia</h3>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-12 ">
            <form asp-action="ActualizarMateria" method="post" class="row g-3 needs-validation" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <input type="hidden" asp-for="IdMateria" />
                    <div class="col-md-4 my-2">
                        <label class="control-label">Seleccione el curso al que pertenese la materia</label>
                        <select asp-for="CursoID" class="form-select br-10" asp-items="ViewBag.CursoID" required>
                            <option selected disabled value="">Seleccione el curso</option>
                        </select>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="control-label"> Profesor Asignado</label>
                        <select asp-for="ProfesorAsignado" class="form-select br-10" asp-items="ViewBag.ProfesorAsignado" required>
                            <option selected disabled value="">Seleccione un Profesor</option>
                        </select>
                        <span asp-validation-for="ProfesorAsignado" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="control-label">Nombre Materia</label>
                        <input asp-for="NombreMateria" class="form-control br-10" required />
                        <span asp-validation-for="NombreMateria" class="text-danger"></span>
                    </div>
                    <div class="col-md-8 my-2">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control br-10" required />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>

                    <div class="col-md-8 my-2">
                        <label asp-for="Estado" class="control-label"></label>
                        <div class="my-2">
                            <label class="form-check-label "><input class="form-check-input mx-2" type="radio" asp-for="Estado" value="1"  />Disponible</label>
                            <label class="form-check-label "><input class="form-check-input mx-2" type="radio" asp-for="Estado" value="2"  />Suspender Materia</label>
                        </div>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12">
                    <a class="btn otorgar-boton p-1 px-2 mx-2" asp-action="ListaMaterias">Volver al Inicio</a>
                    <input type="submit" value="Actualizar" class="btn retornar-boton p-1 px-2 mx-3" />
                </div>
            </form>
        </div>
    </div>
</div>



